.btn {
	display: inline-block;
	padding: 8px 16px;
	font-size: 1rem;
	font-weight: 400;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.15s ease, border-color 0.15s ease;
}

.btn-novo-item-cardapio {
	background-color: #ff0000;
	border-color: #ff0000;
	color: white;
}

.btn-novo-item-cardapio:hover {
	background-color: #cc0000;
	border-color: #cc0000;
}

.btn-novo-pedido {
	background-color: #4a7c3f;
	border-color: #4a7c3f;
	color: white;
}

.btn-novo-pedido:hover {
	background-color: #3a6331;
	border-color: #2f5228;
}

.btn-relatorio-vendas {
	background-color: #2e2e2e;
	border-color: #2e2e2e;
	color: white;
}

.btn-relatorio-vendas:hover {
	background-color: #1a1a1a;
    border-color: #111111;
}

/* Sessão de botões de ação (excluir, editar) */
.icon-btn {
    border: 1px solid #6c757d;
    background: #fff;
    color: #6c757d;
    border-radius: 4px;
    padding: 6px;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.icon-btn:hover {
    border-color: #495057;
    color: #212529;
    background: rgba(0, 0, 0, 0.05);
}

.icon-btn.detalhar {
    border-color: #0d6efd;
    color: #0d6efd;
}

.icon-btn.editar {
    border-color: #198754;
    color: #198754;
}

.icon-btn.excluir {
    border-color: #ff0000;
    color: #ff0000;
}

.icon-btn.detalhar:hover {
    background: rgba(13, 110, 253, 0.1);
}

.icon-btn.editar:hover {
    background: rgba(25, 135, 84, 0.1);
}

.icon-btn.excluir:hover {
    background: rgba(204, 0, 0, 0.2);
}
